<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbhXAJc-o32KJ_2ujVvYJpZqGIfW0iayM</string>
	<key>GCM_SENDER_ID</key>
	<string>1004713708148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carAlerts</string>
	<key>PROJECT_ID</key>
	<string>caralerts-b4390</string>
	<key>STORAGE_BUCKET</key>
	<string>caralerts-b4390.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004713708148:ios:e73879c23fe1a329719f21</string>
</dict>
</plist>